<!DOCTYPE html>
<html>
<head>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <!-- JavaScript at end of body for optimized loading -->
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    <h1>my blogs</h1> 

    <% @blog_posts.each do |blog_post| %>
    <div class="card-panel teal lighten-2">
        <h2><%=  link_to blog_post.title , blog_post %></h2>
        <%= blog_post.body %>
    </div>
    <% end %>

</body>
</html>
